header{
    width: 100%;
    height: 100px;
    background-color: rgb(147 103 177 / 31%);
    text-align: center;
}
body{
    width: 100%;
}
main{
    min-height: 700px;
    border: 2px solid #445;
    background-color: rgb(170, 170, 170);
}
h1{
    text-align: center;
}
.finance_operation_frame{
    position: fixed;
    top: 200px;
    right: 60px;
    height: 800px;
    width: 43%;
    padding: 0%;
    margin-left: 7%;
    border: 1px solid rgba(158, 255, 102, 0.349);
    box-shadow: 0px 0px 9px 10px rgba(136, 255, 0, 0.089);
}
.table-hover{
box-shadow: 0px 0px 29px 9px rgba(218, 255, 0, 0.13);
}
form{
    margin-top: 2%;
}
form button{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 150px;
    height: 30px;
}
.total_table{
    font-size: large;
    font-weight: 900;
}
.common-Filter_btn{
    margin: -2%;
}
.body_finance{
    margin-left: 2%;
    margin-right: 2%;
}
.icon_edit_finance{
    width: 20px;
    height: 20px;
}
.payer_Lera{
    font-weight: 600;
    color: pink;
}
.payer_Roma{
    font-weight: 600;
    color: rgb(0, 38, 255);
}
.report_list{
    margin-top: 3%;
    text-decoration: none;
    list-style-type: none;
}
.report_list li{
    margin-top: 0.5%;
    font-size: 14pt;
    font-weight: 400;
}
.reports_link_block{
margin-top: 1%;
}
.header_btn{
    color: rgb(0, 0, 0);
}
table a{
    color: black;
    text-decoration: none;
}
tr:hover{
text-shadow: 1px 4px 6px rgba(136, 136, 136, 0.39);
}
tfoot{
    position: fixed;
    top: 0;
    right: 0;
}
.total_common_month{
        color: blue;
    font-size: 24pt;
}
.reports_body{
    margin-bottom: 80px;

}
.month_line{
    padding-top: 0.5%;
}
.month_ul li{
display: inline;
    text-decoration: none;
    list-style-type: none;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-top: 0.5%;
    font-weight: 700;
    font-size: 9pt;
}
.month_ul_reports li{
display: inline;
    text-decoration: none;
    list-style-type: none;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-top: 0.5%;
    font-weight: 700;
    font-size: 9pt;
}
.current_month{
    color: rgb(0, 0, 0);
    font-weight: 900;
    background-color: rgb(179, 206, 255);
    border: 2px solid rgb(109, 209, 216);
}
.current_month_reports{
    color: rgb(217, 255, 0);
    font-weight: 900;
    background-color: rgb(99, 99, 99);
    border: 2px solid rgb(109, 209, 216);
}
.total_coast{
    width: 200px;
    position: absolute;
    top: 230px;
    left: 400px;
    font-weight: 600;
    font-size: 16pt;
}

.td_total{
    padding: 5px;
}
.block_smeta{
    margin-top: 1%;
    border: 2px solid rgba(42, 42, 175, 0.219);
    background-color: rgba(0, 0, 255, 0.034);
}
.block_smeta li{
    margin-top: 5px;
    font-weight: 600;
}
.block_smeta select{
margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
}
.avrg_table{
font-weight: 700;
font-size: 10pt;
background-color: rgba(68, 68, 85, 0);
}
.avrg_table:hover{
color: rgb(0, 0, 0);
font-weight: 750;

    /* cursor: url(cat.png) 2 2, default; */
    cursor: default;
}
.footer_total_line_table{
    cursor: default;
}
.total_smoke{
    background-color: rgba(68, 68, 85, 0);
    border: 0;
    color: blue;
    font-weight: 700;
}
.h4_reports{
        text-align: center;
color: rgb(111, 0, 255);
font-weight: 600;
}
.reports_info_page{
    text-overflow: ellipsis ;
    overflow-x: hidden;
    cursor: help;
}
.select_year{
    width: 130px;
}